body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("assets/Constitution_of_India.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    
}
header {
    background: rgba(10, 10, 10, 0.5); /* 0.8 transparency */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.content {
    padding: 2rem;
    background: #ebe7d3;
    border-radius: 5px;
    margin-top: 1rem;
}
h1{
    color: #f4f1f1;
}
 h2 {
    color: #060505;
}

.section {
    margin-bottom: 1.5rem;
}
.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
.button:hover {
    background-color: #555;
}


.team-member {
    
}

.section {
    margin-bottom: 2rem;
}

.section h2 {
    margin-bottom: 1rem;
}
.games-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.game-section {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and text */
    flex-basis: 100%; /* Takes full width */
}

.game-section img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.game-details {
    max-width: 500px; /* Restricting the description width */
    margin-left: 100px;
}

.game-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.game-details p {
    margin: 0.5rem 0;
}
